# Logs
logs
*.log

# Dependencies
node_modules

# Build artifacts
dist
dist-ssr
*.local

# Environment variables
.env

# Editor & IDEs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sln
*.sw?
