/*@import "tailwindcss";*/
:root {
    --bg: #0f0f0f;
    --card: #1a1a1a;
    --muted: #94a3b8;
    --text: #f1f1f1;
    --primary: #3f93f8;
    --danger: #ef4444;
    --warn: #f59e0b;
    --border: grey;
    --jj: #282828;
    --sub: #aaaaaa;
}

* { box-sizing: border-box; }

/** { border: 1px solid red}*/

html, body, #app { height: 100%; }
body {
    margin: 0;
    color: var(--text);
    font-family: 'Roboto Slab', serif;
    position: relative;
}
button,
input,
select,
textarea {
    font-family: 'Roboto Slab', serif !important; border: none; outline: none;
}
.input:focus, .textarea:focus {
    outline: none;
}

a { color: var(--primary); text-decoration: none; }
.container { max-width: 1100px; margin: 0 auto; padding: 16px; }
.card {
    background: var(--bg);
    /* border: px solid var(--border); */ border-radius: 12px; padding: 16px; margin-top: 15px;
}
.input, select, textarea {
    width: 100%; padding: 10px 12px; border-radius: 5px;
    background: #2a2a2a; color: var(--text); border: none;
}
.btn {
    display: inline-flex; align-items: center; gap: 8px; padding: 10px 14px;
    background: #f1f1f1; color: var(--jj); border: none; border-radius: 5px; cursor: pointer;
}
.btn:hover { background-color: #D9D9D9}
.btn.ghost:hover { background-color: #3F3F3F}
.btn.ghost { background: #282828; color: var(--text); }
.btn.danger { background: var(--danger); color: white; }
.btn.warn { background: var(--warn); color: #1f1300; }
.row { display: flex; gap: 12px; flex-wrap: wrap; }
.col { flex: 1; min-width: 240px; }
.badge { padding: 4px 8px; border-radius: 5px; /*background: #0b1220; /*border: 1px solid var(--border);*/ color: var(--sub); }
hr { border: none; border-top: 1px solid var(--border); margin: 16px 0; }
footer { color: var(--muted); font-size: 14px; }
.small { font-size: 12px; color: var(--sub); }
.badge:hover { color: white}


.full {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.full-c {
    flex: 1;
    position: relative;
}


footer {
    bottom: initial;
    position: initial;
    width: initial;
    height: initial;
}
#animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

}

.svg-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;



}
@media (max-width: 500px) {

    .svg-background {

    }
    .card {
        margin: 1px;
    }
    .container {
        margin: 0 auto;
        padding: 8px;
        background: var(--bg);

    }

}
