# Compiled output
/dist
/build
*.tsbuildinfo

# Dependencies
/node_modules

# IDE & Editors
/.idea
/.vscode
*.swp
*.swo

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log

# Testing
/coverage
/.nyc_output
